<%- include("../partials/header.ejs") %>

<h1 class="Show"><%= product.name %></h1>
<img src="<%= product.image %>" height="320px">
<p>Price: <%= product.price %>฿</p>

<h2>Description:</h2>

<ul>
<% product.description.forEach(function(description){ %>
        <li> <%=description%> </li>
<% }) %>
</ul>

<%- include("../partials/footer.ejs") %>